/*!*****************************************************************************
 * mat-faq-admin.component.scss Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
 ******************************************************************************/

.full-width {
  width: 100%
}

.mat-form-field {
  margin: 0.8rem 0 0.8rem 0;
}
