<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ habit-form.component.html Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<form (ngSubmit)="onSubmit()" *ngIf="userService.hasPermission('HabitRabbit.change_habit') && isSuperuser" [formGroup]="habitForm"
      novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title *ngIf="!habitForm.value.id">Create</mat-card-title>
      <mat-card-title *ngIf="habitForm.value.id">Update {{habitForm.value.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="name" matInput placeholder="Name" required type="text">
            <mat-hint align="end">Name of the Habit</mat-hint>
            <mat-error *ngIf="habitForm.controls.name.hasError('required')">Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select (valueChange)="getEnd($event)" formControlName="type" placeholder="Type">
              <mat-option disabled>Type</mat-option>
              <mat-option *ngFor="let typeOption of typeOptions"
                          [value]="typeOption">{{typeOption.name}}</mat-option>
            </mat-select>
            <mat-hint align="end">Add Type here</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input [matDatepicker]="datepicker" [min]="moment()" formControlName="start_date" matInput
                   placeholder="Start Date" required>
            <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <mat-hint align="end">Start Date for the journey to this habit</mat-hint>
            <mat-error *ngIf="habitForm.controls.start_date.hasError('required')">Start Date is required</mat-error>
            <mat-error *ngIf="habitForm.controls.start_date.hasError('start_check')">Start Date can not be in the past.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input [matDatepicker]="datepicker2" [max]="getMax()" [min]="moment().add(1, 'day').startOf('day')"
                   formControlName="end_date" matInput placeholder="End Date" required>
            <mat-datepicker-toggle [for]="datepicker2" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #datepicker2></mat-datepicker>
            <mat-hint align="end">End Date for the journey to this habit</mat-hint>
            <mat-error *ngIf="habitForm.controls.end_date.hasError('required')">End Date is required</mat-error>
            <mat-error *ngIf="habitForm.controls.end_date.hasError('date_check_se')">End Date must be after Start Date
            </mat-error>
            <mat-error *ngIf="habitForm.controls.end_date.hasError('date_check_le')">Maximum duration is 1 year!
            </mat-error>
            <mat-error *ngIf="habitForm.controls.end_date.hasError('date_check_du')">Minimum duration is 1 day!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field *ngIf="isSuperuser" class="full-width">
            <mat-select formControlName="member" placeholder="Member">
              <mat-option disabled>Member</mat-option>
              <mat-option *ngFor="let memberOption of memberOptions"
                          [value]="memberOption.id">{{memberOption.first_name + ' ' + memberOption.last_name}}</mat-option>
            </mat-select>
            <mat-hint align="end">Add Member here</mat-hint>
          </mat-form-field>
          <div>
            Priority
            <bar-rating [max]="3" [theme]="'square'" formControlName="priority" matInput></bar-rating>
            <br/>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!habitForm.value.id" [disabled]="!habitForm.valid" color="primary" mat-raised-button type="submit">
        Submit
      </button>
      <button *ngIf="habitForm.value.id" color="primary" mat-raised-button type="submit">Update</button>
    </mat-card-actions>
  </mat-card>
</form>
