<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ navbar.component.html Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<mat-sidenav-container *ngIf="userService.hasPermission('HabitRabbit.view_profilepicture')" class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button style="padding: 0.1% 0.1% 0.3% 0.1%; min-width: 35px; line-height: 30px"><i
        class="material-icons pointer" routerLink="dashboard">home</i></button>
      <span class="title" routerLink="dashboard">HabitRabbit</span>
      <span class="menuspacer"></span>
      <mat-divider style="height:50%" vertical></mat-divider>
      <ng-container *ngIf="isSuperUser">
        <button [matMenuTriggerFor]="habitMenu" mat-button><i class="material-icons">playlist_add_check</i> Habit
        </button>
        <mat-menu #habitMenu="matMenu">
          <button mat-menu-item routerLink="habit-list">Habit List</button>
          <button mat-menu-item routerLink="habit-form">Create Habit</button>
        </mat-menu>
        <mat-divider style="height:50%" vertical></mat-divider>
        <button [matMenuTriggerFor]="userMenu" mat-button><i class="material-icons">person</i> User
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="user-list">User List</button>
          <button mat-menu-item routerLink="user-form">Create User</button>
        </mat-menu>
        <mat-divider style="height:50%" vertical></mat-divider>
        <button [matMenuTriggerFor]="messageMenu" mat-button><i class="material-icons">comment</i>
          Message
        </button>
        <mat-menu #messageMenu="matMenu">
          <button mat-menu-item routerLink="message-list">Message List</button>
          <button mat-menu-item routerLink="message-form">Create Message</button>
        </mat-menu>
        <mat-divider style="height:50%" vertical></mat-divider>
        <button [matMenuTriggerFor]="typeMenu" mat-button><i class="material-icons">subject</i> Type
        </button>
        <mat-menu #typeMenu="matMenu">
          <button mat-menu-item routerLink="type-list">Type List</button>
          <button mat-menu-item routerLink="type-form">Create Type</button>
        </mat-menu>
        <mat-divider style="height:50%" vertical></mat-divider>
      </ng-container>
      <div class="navLevel">
        <span class="levelText">{{level}}</span>
      </div>
      <div [ngStyle]="{'background-color': colorPP}" class="pp_color">
        <img *ngIf="imageExists" [src]="picturesource" class="profilepic">
      </div>
      <span (window:resize)="onResize($event)" [ngStyle]="{'display': windowsize}"
            class="currentuser">{{username}}</span>
      <app-logout></app-logout>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
