/*!*****************************************************************************
 * mat-faq.component.scss Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
 ******************************************************************************/

.faq-container {
  //width: 500px;
}
