/*!*****************************************************************************
 * styles.scss Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
 ******************************************************************************/

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~ngx-bar-rating-odilo/themes/br-square-theme.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.br-square .br-units {
  counter-reset: counter 4;
}

.br-square .br-unit:after {
  content: counter(counter);
  counter-increment: counter -1;
}
