<div mat-dialog-content>
  <mat-form-field *ngIf="userForm.controls.id.value">
    <input formControlName="old_password" matInput minlength="8" placeholder="Old Password" required
           type="password">
    <mat-error *ngIf="userForm.controls['old_password'].hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="userForm.controls['old_password'].hasError('minlength')">
      Password has to be 8 characters long
    </mat-error>
    <mat-error *ngIf="userForm.controls['old_password'].hasError('serverError')">
      Old password is wrong
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password" matInput minlength="8" placeholder="Password" required type="password">
    <mat-error *ngIf="userForm.controls['password'].hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
      Password has to be 8 characters long
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password_check" matInput placeholder="Repeat Password" required type="password">
    <mat-error *ngIf="userForm.controls['password_check'].hasError('required')">
      Confirm password is required
    </mat-error>
    <mat-error *ngIf="userForm.controls['password_check'].hasError('pw_check')">
      Passwords have to match.
    </mat-error>
  </mat-form-field>
</div>
