<div mat-dialog-content>
  <mat-form-field *ngIf="userForm.controls.id.value">
    <input formControlName="old_password" matInput minlength="8" placeholder="Old Password" required
           type="password">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password" matInput minlength="8" placeholder="Password" required type="password">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="password_check" matInput placeholder="Repeat Password" required type="password">
  </mat-form-field>
</div>
