<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ dashboard-habitedit.component.html Copyright ©️ 2020 by the HabitRabbit developers (ardianq, lachchri16, sweiland, YellowIcicle).
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<form>
  <div mat-dialog-content>
    <mat-form-field style="display: block">
      <input [(ngModel)]="data.name" matInput name="name" placeholder="Name" required type="text">
      <mat-hint align="end">Name of the Habit</mat-hint>
    </mat-form-field>
    <mat-form-field style="display: block">
      <mat-select (valueChange)="getEnd($event)" [(ngModel)]="data.type" name="type" placeholder="Type">
        <mat-option disabled>Type</mat-option>
        <mat-option *ngFor="let typeOption of data.typeOptions"
                    [value]="typeOption">{{typeOption.name}}</mat-option>
      </mat-select>
      <mat-hint align="end">Add Type here</mat-hint>
    </mat-form-field>
    <mat-form-field style="display: block">
      <input [(ngModel)]="data.start_date" [matDatepicker]="datepicker" [min]="moment()" matInput name="start_date"
             placeholder="Start Date" required>
      <mat-datepicker-toggle [for]="datepicker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-hint align="end">Start Date for the journey to this habit</mat-hint>
    </mat-form-field>
    <mat-form-field style="display: block">
      <input [(ngModel)]="data.end_date" [matDatepicker]="datepicker2" [max]="getMax()"
             [min]="moment().add(1, 'day').startOf('day')"
             matInput
             name="end_date" placeholder="End Date" required>
      <mat-datepicker-toggle [for]="datepicker2" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #datepicker2></mat-datepicker>
      <mat-hint align="end">End Date for the journey to this habit</mat-hint>
    </mat-form-field>
    <div>
      Priority
      <bar-rating [(ngModel)]="data.priority" [max]="3" [theme]="'square'" matInput
                  name="priority"></bar-rating>
      <br/>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" color="warn" mat-button type="button">Cancel</button>
    <button [disabled]="disableCheck()" [mat-dialog-close]="data" color="primary" mat-button type="submit">Submit
    </button>
  </div>
</form>
